sudo: false

language: php

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - COMPOSER_ARGS="--ansi --optimize-autoloader --no-interaction --no-suggest --prefer-dist"

matrix:
  include:
    - php: 7.1
      env:
        - DEPS=lowest
    - php: 7.1
      env:
        - DEPS=latest
        - CHECK_CS=true
        - TEST_COVERAGE=true
    - php: 7.2
      env:
        - DEPS=lowest
    - php: 7.2
      env:
        - DEPS=latest
    - php: nightly
      env:
        - DEPS=lowest
    - php: nightly
      env:
        - DEPS=latest
  allow_failures:
    - php: nightly

install:
  - if [[ $DEPS == 'latest' ]]; then composer update $COMPOSER_ARGS ; fi
  - if [[ $DEPS == 'lowest' ]]; then composer update $COMPOSER_ARGS --prefer-lowest --prefer-stable ; fi
  - composer show --installed

script:
  - composer validate --no-check-all --no-check-publish
  - if [[ $EXECUTE_CS_CHECK == 'true' ]]; then ./vendor/bin/phpcs ; fi
  - ./vendor/bin/phpunit
  - ./vendor/bin/phpstan analyse -l 7 src

notifications:
  email: false
