<?xml version="1.0" encoding="UTF-8"?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/squizlabs/php_codesniffer/phpcs.xsd"
         name="Strict coding standard">

    <description>Strict coding standard</description>

    <arg name="basepath" value="."/>
    <arg name="extensions" value="php"/>
    <arg name="parallel" value="80"/>
    <arg name="cache" value=".phpcs-cache"/>
    <arg value="p"/>

    <!-- Paths to check -->
    <file>./src</file>
    <file>./test</file>

    <!-- Coding style rules: -->
    <rule ref="LaminasCodingStandard"/>
</ruleset>
